body {
    font-family: Arial,  sans-serif; /* Font family */
    font-size: 11px; /* O tamanho da fonte principal<p></p> tag  */
    background-color: #f0f0f0; /* A cor do plano de fundo da página */
    color: #333333; /* A cor do texto */ 
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}
h1 {
    color: #00a800; /* A cor do cabeçalho */
    font-size: 24px; /* A cor da fonte do cabeçalho */
    font-family: Georgia, serif; /* A font usada no cabeçalho*/
}
img {
    width: 400px;
    height: auto;
}